# pdf del enunciado
Proyecto 1.pdf 

# cache del parser (al parecer xd)
Parser/__pycache__/Parser.cpython-313.pyc

# prueba de que el parser funciona
PruebaParser.py

# entrada xml que nos dieron
prueba.xml